{% extends 'base.html' %}

{% block title %}Your Measurements{% endblock title %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Weight</th>
            <th>Chest</th>
            <th>Bust</th>
            <th>Waist</th>
            <th>Hips</th>
            <th>Left Thigh</th>
            <th>Right Thigh</th>
            <th>Left Calf</th>
            <th>Right Calf</th>
            <th>Left Forearm</th>
            <th>Right Forearm</th>
            <th>Left Upper Arm</th>
            <th>Right Upper Arm</th>
        </tr>
    </thead>
    {% for measurement in measurement_list %}
    <tr>
        <td>{{ measurement.date }}</td>
        <td>{{ measurement.weight }}</td>
        <td>{{ measurement.bust }}</td>
        <td>{{ measurement.chest }}</td>
        <td>{{ measurement.waist }}</td>
        <td>{{ measurement.hips }}</td>
        <td>{{ measurement.left_thigh }}</td>
        <td>{{ measurement.right_thigh }}</td>
        <td>{{ measurement.left_calf }}</td>
        <td>{{ measurement.right_calf }}</td>
        <td>{{ measurement.left_forearm }}</td>
        <td>{{ measurement.right_forearm }}</td>
        <td>{{ measurement.left_upper_arm }}</td>
        <td>{{ measurement.right_upper_arm }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock content %}