    <header>
        <div class="header-left">
            <h1><a id='logo' href="{% url 'home' %}">Comp Tracker</a></h1>
        </div>
        <div class="header-right">
            {%  if user.is_authenticated %}
                <div class="dropdown">
	                <button class="button btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
		                Menu
	                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'home' %}">View Measurements</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_measurement' %}">Add Measurement</a></li>
                        <li><a class="dropdown-item" href="{% url 'settings' %}">User Settings</a></li>
                    </ul>
	            </div>
                <a class="button" href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a class="button" href="{% url 'login' %}">Log In</a>
                <a class="button" href="{% url 'signup' %}">Sign Up</a>
            {% endif %}

        </div>
    </header>